body {
    color:white;
   background:black;
   margin: 0px;
   font-family: "Chakra Petch", sans-serif;
   }
   header {
    border-bottom: solid 2px  rgb(225, 225, 225);
    padding: 20px;
    font-size: 32px;
    color:rgb(225, 225, 225);
  }
    section{
    background: rgb(2, 2, 2);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
    }
    div{
    margin-right: 20px;
    }
    .chamada-texto {
    margin-right: 25%;
    }

    h1 {
        font-size: 40px; 
     }
     p {
         font-size: 25px;
     }  
    .Categoria-filmes {
     display: flex;
     overflow-x: auto;
     gap: 10px;
    }
     section {
        padding-left: 20px;
        padding-right: 20px;
     }
     div {
      margin-right: 20px;
     }
     button {
      font-size: 20px;
     }
     button {
      font-size: 20px;
    
     }
     
